numpy
pandas
scikit-learn
scipy
statsmodels
Cython
joblib
setuptools
pmdarima @ https://github.com/alkaline-ml/pmdarima/releases/download/v2.0.3/pmdarima-2.0.3-py3-none-any.whl
streamlit
yfinance
matplotlib
